header {
  background-color: rgba(136, 0, 136,0.1);
  border: thin #000000 solid;
  padding: 3px;
  margin: 5px;
  text-align: center;
}

header .Byline {
  font-style: italic;
  font-size: small;
  margin: 0px;
}